<body>
<div class="container" id="container">
  <h1>Add new listing</h1>
  <form action="/listings" method="post">
    <label for="name">Name of the location
      <input type="text" name="name" placeholder="Max 60 characters" required/>
    </label>
    <label for="description">Tell us about your listing...
      <input type="text" name="description" placeholder="Max 280 characters" required/>
    </label>
    <label for="price">Price per night
      <input type="text" name="price" placeholder="£" required/>
    </label>
    <label for="date_start"> Start Date:
      <input type="date" name="date_start" id="date_start">
    </label>
    <label for="date_end"> End Date:
      <input type="date" name="date_end" id="date_end">
    </label>
    <label for="picture_url">Show us your place
      <input type="text" name="picture_url" value="" placeholder="Picture url">
    </label>
    <input id="button" type="submit" value="Submit"/><br>
  </form>
</div>

<style>

.container {
  margin: 50px;
  margin-right: 1250px;
    text-align: center;
    width: 400px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    border-radius: 10%;
    opacity: 0.8;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    height: 500px;
    font-size: 14px;
}

body {
  background-image: url("../images/cottage.png");
}

#button {
  color: white;
  background: grey;
  width: 100px;
  height: 50px;
}
</style>
</body>
