<div class="image">
<div class="container">

<center>
<h1>Sign Up</h1>

<form id="signup" action="/register" method="post"><br>
  <input type="text" name="username" placeholder="username"/><br></br>
  <input type="text" name="email" placeholder="email"/><br></br>
  <input type="password" name="password" placeholder="password"/><br></br>
  <input type="submit" value="Register" /><br></br>

  <%= flash[:warning] %>
</form>

</center>

</div>
</div>


<style>

.container {
  margin-top: 50px;
  padding: 30px;
    text-align: center;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    opacity: 0.8;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
}
.image {
  image-align: center;
  margin: 50px;
  background: pink;
margin-left: auto;
margin-right: auto;
}

#signup {
  padding: 30px;
  margin-top: 30px;
}
</style>