
<div class="container">

<h1>Sign Up</h1>

<form id="signup" action="/register" method="post"><br>
  <input type="text" name="username" placeholder="username"/><br></br>
  <input type="text" name="email" placeholder="email"/><br></br>
  <input type="password" name="password" placeholder="password"/><br></br>
  <input type="submit" value="Register" /><br></br>

  <%= flash[:warning] %>
</form>


</div>
</div>


<style>

.container {
  margin: 50px;
  margin-right: 1250px;
    text-align: center;
    width: 400px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    border-radius: 10%;
    opacity: 0.8;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    height: 500px;
}

#signup {
  padding: 30px;
  margin-top: 30px;
  border-radius: 10%;
}
</style>