<body>


<div class="container">
<h3>Please select dates below for...</h3><br></br>

<form action='/<%= @listing_id %>/store_booking' method="post">
  <label> From:
<input type="date" name="book_from" />
</label><br></br>
<label> To:
<input type="date" name="book_to" />
</label><br></br>
<input id="button" type="submit" name="Submit"/>
</form>
</div>

<style>

.container {
  margin: 50px;
  margin-right: 1250px;
    text-align: center;
    width: 400px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    border-radius: 10%;
    opacity: 0.8;
    color: black;
    text-shadow: 1px 1px 1px #FFF;
    height: 500px;
}

#button {
  color: white;
  background: grey;
  width: 100px;
  height: 50px;
}


body {
  background-image: url("/images/cottage.png");
}
</style>
</body>